<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.orm.AloneMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.example.entity.pojo.Alone">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="score" property="score"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `user_id`,
        `score`,
        `create_time`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO alone (
            `id`,
            `user_id`,
            `score`,
            `create_time`
        ) VALUES (
            #{pojo.id},
            #{pojo.userId},
            #{pojo.score},
            #{pojo.createTime}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO alone
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.userId!=null"> `user_id`,</if>
            <if test="pojo.score!=null"> `score`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.userId!=null">#{pojo.userId},</if>
            <if test="pojo.score!=null">#{pojo.score},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO alone (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.userId},
            #{pojo.score},
            #{pojo.createTime}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE alone
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.userId != null"> `user_id` = #{pojo.userId}, </if>
            <if test="pojo.score != null"> `score` = #{pojo.score}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <!-- 默认数据源分页存在BUG -->
    <select id="queryList" resultMap="AllColumnMap">
        SELECT
        *
        FROM alone
        ORDER BY `score` DESC
        LIMIT #{start}, #{pageSize}
    </select>

</mapper>

