<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.orm.TradeMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.example.entity.pojo.Trade">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="score" property="score"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `user_id`,
        `score`,
        `create_time`
    </sql>

    <!--auto generated Code-->
    <!-- 去掉了id配置才有效：
      sharding.jdbc.config.sharding.tables.trade.key-generator-class-name=io.shardingsphere.core.keygen.DefaultKeyGenerator
    -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO trade (
        <!-- `id`, -->
        `user_id`,
        `score`,
        `create_time`
    ) VALUES (
        <!-- #{pojo.id}, -->
        #{pojo.userId},
        #{pojo.score},
        #{pojo.createTime}
    )
</insert>

<!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO trade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.userId!=null"> `user_id`,</if>
            <if test="pojo.score!=null"> `score`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.userId!=null">#{pojo.userId},</if>
            <if test="pojo.score!=null">#{pojo.score},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO trade (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.userId},
            #{pojo.score},
            #{pojo.createTime}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE trade
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.userId != null"> `user_id` = #{pojo.userId}, </if>
            <if test="pojo.score != null"> `score` = #{pojo.score}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <!-- 分片优化主要看sql是否支持优化改写 https://shardingsphere.apache.org/document/legacy/3.x/document/cn/features/sharding/principle/rewrite/ -->
    <select id="queryList" resultMap="AllColumnMap">
        SELECT
        *
        FROM trade
        WHERE
        <!-- 不支持 BETWEEN AND --> <!-- `user_id` BETWEEN 313033581150601216 AND 313033581150601216 LIMIT 0, 10 -->
        <!-- 无分片优化 --> `user_id` &gt;= 315127082818469894 AND `user_id` &lt;= 315127082818469918
        <!-- 有分片优化 --> <!-- `user_id` = 315127082818469918 -->
        <!-- 有分片优化 --> <!-- `user_id` IN(315127082818469894, 315127082818469918) -->
        <!-- 无分片优化 --> <!-- `id` &gt;= 315127082818469994 AND `id` &lt;= 315127082818470018 -->
        ORDER BY `score` DESC
        <!-- ORDER BY `user_id` DESC  -->
        LIMIT #{start}, 10
    </select>
</mapper>

